<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="mario-chat">
      <h2>We Talk</h2>
      <div id="chat-window">
        <div id="output"></div>
      </div>
      <input id="handle" type="text" placeholder="Handle" />
      <input id="message" type="text" placeholder="Message" />
      <button id="send">Send</button>
    </div>
    <script src="/javascripts/socket.js"></script>
  </body>
</html>
